<ion-header>
  <ion-navbar>
    <ion-title>iBusiness Dashboard</ion-title
    ><ion-buttons end>
      <button ion-button clear (click)="logoutApp()">Logout</button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="request_type">
      <ion-segment-button value="pending">
        Pending
      </ion-segment-button>
      <ion-segment-button value="completed">
        Completed
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="request_type">
    <ion-list *ngSwitchCase="'pending'">
      <div *ngFor="let request of (requests | async)">
        <div *ngIf="request.status == 'PENDING'">
          <accordion [bids]="request.bids">
            <div accordion-header-bids>
              <ion-item>
                <p><strong>Retailer: </strong> {{ request.userCompany }}</p>
                <p><strong>Company: </strong>{{ request.userCompany }}</p>
              </ion-item>
            </div>
            <div accordion-body>
              <p>
                <strong></strong>
              </p>
            </div>
            <div accordion-header>
              <ion-item>
                <p><strong>Retailer: </strong> {{ request.userCompany }}</p>
                <p><strong>Company: </strong>{{ request.userCompany }}</p>
              </ion-item>
            </div>
          </accordion>
        </div>
      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'completed'">
      <div *ngFor="let request of (requests | async)">
        <div *ngIf="request.status == 'COMPLETED'">
          <accordion [bids]="request.bids">
            <div accordion-header-bids>
              <ion-item>
                <p><strong>Retailer: </strong> {{ request.userCompany }}</p>
                <p><strong>Company: </strong>{{ request.userCompany }}</p>
              </ion-item>
            </div>
            <div accordion-body>
              <p>
                <strong></strong>
              </p>
            </div>
            <div accordion-header>
              <ion-item>
                <p><strong>Retailer: </strong> {{ request.userCompany }}</p>
                <p><strong>Company: </strong>{{ request.userCompany }}</p>
              </ion-item>
            </div>
          </accordion>
        </div>
      </div>
    </ion-list>
  </div></ion-content
>
