<ion-header>
  <ion-navbar>
    <ion-title>iBusiness Dashboard</ion-title
    ><ion-buttons end>
      <button ion-button clear (click)="logoutApp()">Logout</button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="selected_user">
      <ion-segment-button value="retailers">
        Retailers
      </ion-segment-button>
      <ion-segment-button value="wholesalers">
        Wholesalers
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="selected_user">
    <ion-list *ngSwitchCase="'retailers'">
      <div *ngFor="let user of (users | async)">
        <div *ngIf="user.role.retailer == true">
          <ion-card>
            <ion-card-header>
              {{ user.company }}
            </ion-card-header>
            <ion-card-content>
              <p><strong>VAT: </strong>{{ user.vatNumber }}</p>
              <p>
                <ion-icon name="home"></ion-icon> <strong>Address: </strong
                >{{ user.address }}
              </p>
              <p>
                <ion-icon name="home"></ion-icon> <strong>Municipality: </strong
                >{{ user.municipality }}
              </p>
              <p>
                <ion-icon name="person"></ion-icon> <strong>Name: </strong
                >{{ user.name }} {{ user.surname }}
              </p>
              <p>
                <ion-icon name="mail"></ion-icon> <strong>E-mail: </strong
                >{{ user.email }}
              </p>
              <p>
                <ion-icon name="call"></ion-icon> <strong>Phone Number: </strong
                >{{ user.phoneNumber }}
              </p>
              <p>
                <ion-icon name="briefcase"></ion-icon>
                <strong>Tax Office: </strong>{{ user.taxOffice }}
              </p>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'wholesalers'">
      <div *ngFor="let user of (users | async)">
        <div *ngIf="user.role.wholesaler == true">
          <ion-card>
            <ion-card-header>
              {{ user.company }}
            </ion-card-header>
            <ion-card-content>
              <p><strong>VAT: </strong>{{ user.vatNumber }}</p>
              <p>
                <ion-icon name="home"></ion-icon> <strong>Address: </strong
                >{{ user.address }}
              </p>
              <p>
                <ion-icon name="person"></ion-icon> <strong>Name: </strong
                >{{ user.name }} {{ user.surname }}
              </p>
              <p>
                <ion-icon name="mail"></ion-icon> <strong>E-mail: </strong
                >{{ user.email }}
              </p>
              <p>
                <ion-icon name="call"></ion-icon> <strong>Phone Number: </strong
                >{{ user.phoneNumber }}
              </p>
              <p>
                <ion-icon name="briefcase"></ion-icon>
                <strong>Tax Office: </strong>{{ user.taxOffice }}
              </p>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-list>
  </div></ion-content
>
